/Planeringssystem/nbproject/private/
/Planeringssystem/build/
/DigitalClock/nbproject/private/
/DigitalClock/build/
/DigitalClock/dist/
/AGV_kommunikation/nbproject/private/
/AGV_kommunikation/dist/
/AGV_kommunikation/build/